:root {
    --blue: #1daded;
    --gray: #202025;
    --white: #f8f9fa;
    --font: Verdana;
}

body {
    margin: 0;
    background-color: var(--white);
}

header {
    border-top: 3px solid;
    border-image: linear-gradient(to right, #1daded , rebeccapurple);
    border-image-slice: 1;
    height: 60px;
    background-color: var(--gray);
    font-size: 0px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-button {
    font-family: var(--font);
    font-size: 13px;
    color: var(--white);
    background-color: transparent;
    position: relative;
    border: 0px;
    height: 60px;
    width: 70px;
    float: right;
}

.header-button:hover {
    color: var(--blue);
    background-color: var(--white);
}

