.game-button {
    background-color: var(--gray);
    min-height: 300px;
    min-width: 250px;
    margin: 50px 50px;
    font-family: var(--font);
    font-size: 30px;
    color: var(--white);
    display: inline-block;
    position: relative;
    border: 0px;
}

#games {
    background-color: transparent;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

#leaderboards {
    right: 0;
    top: 100px; left: 200px;
    width: 155px;
    height: 50px;
    color: var(--white);
    border: 2px;
    font-family: var(--font);
    font-size: 16px;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    position: absolute;

    background-image: linear-gradient(to right, var(--gray) 50%, var(--blue) 50%);
    background-size: 200% 200%;
    background-position: left;
    transition: all 400ms ease;
}

#leaderboards:hover {
    background-position: right;
    color: var(--white);
}

.game-button:hover {
    height: 350px;
    width: 300px;
    margin: 25px 25px;
    color: var(--blue);
    background-color: #43434B;
}