<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='baseStyle.css') }}">

</head>
<body>
<header>
    <div>
        <a href="home">
            <img id="logo" height="60px"
             src="static/images/FDM.jpg">
        </a>
        <a href="login">
            <button class="header-button">Log In</button>
        </a>
        <a href="">
            <button class="header-button">Register</button>
        </a> <!-- TODO: add the destination to the anchor tag -->
        <a href="contact">
            <button class="header-button">Contact</button>
        </a>
        <a href="games">
            <button class="header-button">Games</button>
        </a>
        <a href="home">
            <button class="header-button">Home</button>
        </a>
        <p>Boom</p>
    </div>
</header>
{% block content %}
{% endblock %}
</body>
</html>