{% extends "base.html"%}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='styles/game1HomeStyle.css') }}">
</head>
<body>
    <div class="container">
        <div id="end" class="flex-center flex-column">
            <h1 id="scoreboard">0</h1>
            <form class="end-form-container">
                <div class="button">
                    <a href="/games" id="saveScore" type="submit"
                    onclick="sendScore()">
                        Save Score
                    </a>
                </div>
            </form>
            <a href="/game1" class="button">Play Again</a>
        </div>
    </div>
</body>

<script src="static/javascript/endPage.js"></script>

</html>

{% endblock %}
