{% extends "base.html"%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/gameStyle.css') }}">

<div>
    <button id="leaderboards">Leaderboards</button>
</div>
<div id="games">
    <a href="{{ url_for('game1') }}">
        <button class="game-button">Game One</button>
    </a>
    <button class="game-button">Game Two</button>
    <button class="game-button">Game Three</button>
    <button class="game-button">Game Four</button>
</div>

{% endblock %}