{% extends "base.html"%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homeStyle.css') }}">

<body>
   <div class="boundary">
       <p>We recruit, train and deploy IT and business professionals to work with our clients
           around the world, creating careers and bridging the digital skills gap.

           FDM Group is the global leader in the Recruit, Train and Deploy sector, launching
           thousands of careers every year across the globe. We are renowned for our dynamic
           Careers Programme, which provides graduates, returners to work and ex-forces personnel
           with award-winning business and technical training, before being deployed as consultants
           with our industry-leading clients. We remain dedicated to our purpose of creating and
           inspiring exciting careers that shape our digital future.

           Since our founding in 1991, we have grown exponentially, with over 5,000+ employees and
           85+ nationalities working together as a team across EMEA, Asia Pacific and North
           America. We have firmly established ourselves as a truly inclusive employer that
           champions diversity in the workplace.
       </p>
   </div>
</body>

{% endblock %}