* {
    padding: 0;
    margin: 0;
}

.choice-container {
    text-align: center;
    position: relative;
    display: flex;
    width: 50%;
    margin: 20px auto;
    font-size: 30px;
    min-width: 1000px;
    background-color: var(--gray);
    color: var(--white);
}

.choice-container:hover {
    cursor: pointer;
}

.choice-prefix{
    margin-right: 30px;
    margin-left: 30px;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36, 1) 0%, rgba(41, 232, 111, 1) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgba(224, 11, 11, 1) 100%);
}

.hud-item {
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: 365px;
}

#progressText {
    font-family: var(--font);
    position: absolute;
    right: -10px;
    margin: 0 auto;
    bottom: 275px;
}

.hud-prefix {
    font-family: var(--font);
}

#question {
    text-align: center;
    position: relative;
    margin: 20px auto;
    font-size: 50px;
    font-family: var(--font);
    color: var(--blue);
}